* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: hsl(42, 73%, 90%);
}

.wrapper {
  width: 60%;
  padding: 3rem;
  margin: 3rem auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.wrapper div {
  height: 200px;
  background-color: #756f5d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f1ed;
  font-size: 1.3rem;
  border-radius: 4px;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 98%;
    margin: 1rem auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper div {
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper div {
    height: 300px;
  }
}
