* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: hsl(42, 73%, 90%);
}

.wrapper {
  width: 60%;
  margin: 3rem auto;
  padding: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper div {
  height: 200px;
  flex-basis: 31.5%;
  margin-bottom: 20px;
  background-color: #756f5d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f1ed;
  font-size: 1.3rem;
  border-radius: 4px;
}

.wrapper div.empty {
  background-color: unset;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 98%;
    margin: 1rem auto;
    padding: 20px;
    justify-content: space-between;
  }

  .wrapper div {
    height: 250px;
    flex-basis: 48.1%;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper div {
    height: 300px;
    flex-basis: 100%;
  }
}
